<% content_for(:page_title, t('service.title', page_title: 'Generate a utilisation report')) %>
<%= breadcrumb( { title: 'Generate a utilisation report' } ) %>

<h1>Generate a utilisation report</h1>

<%= form_for @utilisation_report, method: 'GET', target: '_blank', 'data-disable-with': nil, layout: :basic do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%=
        f.text_field(
          :date_range,
          class: 't-date-range',
          label: 'In date range',
          data: {
            module: 'date-range-picker',
            config: {
              autoApply: true,
              locale: {
                format: 'DD/MM/YYYY'
              }
            }
          }
        )
      %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% # Use manual html here so that data-disable-with isn't added. %>
      <input type="submit" name="commit" value="Download" class="t-download btn btn-primary">
    </div>
  </div>
<% end %>
