<%= breadcrumb( { title: 'Generate a utilisation report' } ) %>

<h1>Generate a utilisation report</h1>

<%= form_for @utilisation_report, method: 'GET', target: '_blank', 'data-disable-with': nil, layout: :basic do |f| %>
  <%=
    f.text_field(
      :date_range,
      class: 't-date-range',
      label: 'In date range',
      data: {
	module: 'date-range-picker',
	config: {
	  locale: {
	    format: 'DD/MM/YYYY'
	  }
	}
      }
    )
  %>
  <% # Use manual html here so that data-disable-with isn't added. %>
  <input type="submit" name="commit" value="Download" class="t-download btn btn-primary">
<% end %>
