<% content_for(:page_title, t('service.title', page_title: 'Edit holiday')) %>
<%= breadcrumb(
  { title: 'Holidays', path: holidays_path },
  { title: 'Edit holiday' }
)
%>

<h1>Edit holiday</h1>

<%= form_for @holiday, url: batch_upsert_holidays_path(id: params[:id]), layout: :basic do |f| %>
  <%= render 'form', form: f, holiday: @holiday, guider_options: guider_options, recurrence: false %>
<% end %>
