<h1>Holidays</h1>

<div class="calendar">
  <div
     data-module="HolidaysCalendar"
     data-holidays-path="<%= holidays_path %>"
     data-new-holiday-path="<%= new_holiday_path %>">
  </div>
</div>
