<% content_for(:page_title, t('service.title', page_title: 'Create a holiday')) %>
<%= breadcrumb(
  { title: 'Holidays', path: holidays_path },
  { title: 'Create a holiday' }
)
%>

<h1>Create a holiday</h1>

<%= form_for @holiday, url: batch_create_holidays_path, layout: :basic do |f| %>
  <%= render 'form', form: f, holiday: @holiday, guider_options: guider_options %>
<% end %>
