{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "strict": ["error", "global"],
    "no-var": "error",
    "one-var": ["error", "always"],
    "no-template-curly-in-string": "error",
    "array-callback-return": "error",
    "prefer-template": "error",
    "template-curly-spacing": ["error", "never"],
    "no-param-reassign": "error"
  }
}
