<% content_for(:page_title, t('service.title', page_title: 'My appointments')) %>
<%= breadcrumb( { title: 'My appointments' } ) %>

<h1>My appointments</h1>

<div
  class="js-calendar-reload-on-events t-calendar my-appointments-calendar"
  data-module="my-appointments-calendar"
  data-default-date="<%= Time.zone.now %>"
  data-guider-id="<%= current_user.id %>"
></div>
