<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Telephone Appointment planner</a></li>
    <li class="active">Groups</li>
  </ol>

  <h1>Groups</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @groups.empty? %>
      <p class="no-content t-notice">No groups.</p>
    <% else %>
      <table class="table table-bordered">
        <caption><span class="sr-only">List of groups</span></caption>
        <colgroup>
          <col width="99%">
          <col width="1%">
        </colgroup>
        <thead>
          <tr class="table-header">
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr class="t-group">
              <td><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <%= group.name %></td>
              <td><%=
                    link_to(
                      group,
                      method: :delete,
                      class: 'btn btn-danger t-delete',
                      title: "Delete #{group.name} group",
                      data: { confirm: "Are you sure you want to delete the group #{group.name}?" }
                    ) do
                  %>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span class="sr-only">Delete</span>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
