<%= breadcrumb(
  { title: 'Manage guiders', path: users_path },
  { title: "Manage schedules for #{@guider.name}", path: edit_user_path(@guider) },
  { title: "Edit schedule #{@schedule.title} for #{@guider.name}" }
)
%>

<h1>Edit schedule <%=@schedule.title %> for <%=@guider.name %></h1>

<%= render "form" %>
