<nav aria-label="Breadcrumb" class="t-breadcrumb">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <% breadcrumb.each do |item| %>
      <% if item.equal? breadcrumb.last %>
        <li class="active"><%= item[:title] %></li>
      <% else %>
        <li><a href="<%= item[:path] %>"><%= item[:title] %></a></li>
      <% end %>
    <% end %>
  </ol>
</nav>
