<div id="resource-calendar-filter" class="resource-calendar-filter hide">
  <%= label_tag(:filter_guiders, 'Filter by guider/group') %>
  <%=
    select_tag(
      :filter_guiders,
      grouped_options_for_select(guider_options(current_user)),
      multiple: 'multiple',
      class: 't-users',
      data: { module: 'advanced-select', placeholder: 'Guider or Group' }
    )
  %>
  <hr>
  <label>Show bookable slots over holidays <input type="checkbox" class="js-booking-slot-toggle"></label>
</div>
