<div data-module="GuiderAppointmentsCalendar"></div>

<hr><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div data-module="GuidersAppointmentsCalendar" class="guiders-appointments-calendar" data-config='{ "current_user": 1 }'></div>
<style>
[data-resource-id="guider_13"] {
  background: #fff87c !important;
}
</style>
