<h1 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  The appointment has the following adjustments:
</h1>

<ul>
<% if @appointment.accessibility_requirements? %>
  <li>Accessibility</li>
<% end %>

<% if @appointment.extended_duration? %>
  <li>Extended duration</li>
<% end %>

<% if @appointment.third_party_booking? %>
  <li>Third party</li>
<% end %>

<% if @appointment.potential_duplicates? %>
  <li>Potential duplicates</li>
<% end %>

<% if @appointment.welsh? %>
  <li>Welsh language</li>
<% end %>

<% if @appointment.ms_teams_call? %>
  <li>MS Teams call</li>
<% end %>
</ul>

<%= p do %>
  Reference number:
  <br>
  <strong class="emphasize">
    <%= @appointment.id %>
  </strong>
<% end %>

<%= p do %>
  <%= link_to 'View the appointment', edit_appointment_url(@appointment) %>
<% end %>
