<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li class="active">My appointments</li>
  </ol>

  <h1>My appointments</h1>
</div>

<div id="GuiderAppointmentsCalendar" data-module="GuiderAppointmentsCalendar" data-default-date="<%= Time.zone.now %>"></div>
