<ol class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a></li>
  <li class="active">Generate an appointment report</li>
</ol>

<h1>Generate an appointment report</h1>

<%= form_for @appointment_report, method: 'GET', target: '_blank', 'data-disable-with': nil, layout: :basic do |f| %>
  <%=
    f.select(
      :where,
      options_for_select(@where_options),
      {},
      class: 't-where',
      data: { module: 'advanced-select', config: { allowClear: false } }
    )
  %>
  <%=
    f.text_field(
      :date_range,
      class: 't-date-range',
      label: 'Is in date range',
      data: {
	module: 'date-range-picker',
	config: {
	  autoUpdateInput: false,
	  locale: {
	    cancelLabel: 'Clear',
	    format: 'DD/MM/YYYY'
	  }
	}
      }
    )
  %>
  <% # Use manual html here so that data-disable-with isn't added. %>
  <input type="submit" name="commit" value="Download" class="t-download btn btn-primary">
<% end %>
