.activity {
  @media (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.activity-details {
  @media (min-width: $screen-sm) {
    flex-basis: 73%;
  }
}

.activity-badge {
  @media (min-width: $screen-sm) {
    flex-basis: 27%;
    text-align: right;
  }
}

.activity--hide {
  .js & {
    display: none;
  }
}
