.activity {
  display: flex;
  flex-wrap: wrap;
}

.activity-details {
  flex-basis: 73%;
}

.activity-badge {
  flex-basis: 27%;
  text-align: right;
}

.activity--hide {
  .js & {
    display: none;
  }
}
