.appointment-search {
  padding: 8px 0;
}

.appointment-search__term.form-control {
  width: 260px;
}

.appointment-search__date-range.form-control {
  width: 260px;
}

.appointment-search-results {
  @media (max-width: $screen-xs-max) {
    border: 0;
  }

  tbody tr td { // scss-lint:disable SelectorDepth
    vertical-align: middle;
  }
}

.appointment-search-results__head {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.appointment-search-results__item {
  @media (max-width: $screen-xs-max) {
    display: block;
    width: 100%;
  }
}

.appointment-search-results__row {
  @media (max-width: $screen-xs-max) {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
