.appointment-search {
  padding: 8px 0;
}

.appointment-search__term.form-control {
  width: 260px;
}

.appointment-search__date-range.form-control {
  width: 260px;
}

.appointment-search-results tbody tr td { // scss-lint:disable SelectorDepth
  vertical-align: middle;
}
