$calendar-today-background: $color-white;

.guiders-appointments-calendar {
  .fc-resource-cell {
    height: 150px;
    white-space: nowrap;
    position: relative;

    div {
      box-sizing: border-box;
      left: 50%;
      padding-left: 5px;
      position: absolute;
      text-align: left;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      width: 150px;
    }
  }

  th {
    border-width: 0;
    overflow: hidden;
  }
}

.fc-unthemed {
  .fc-today {
    background: $calendar-today-background;
  }

  .close {
    font-size: 18px;
    height: auto;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 2;
  }
}

.appointment-availability-calendar {
  min-height: 500px;
}

.fc-view-container.error {
  border: 1px solid $state-danger-text;
}

.fc-event {
  &.cancelled {
    background: $brand-danger;
    opacity: .8;
  }
}

.holiday-calendar {
  margin-top: 1em;
}
