$calendar-today-background: $color-white;
$calendar-moved-background: $color-green;
$calendar-filter-box-shadow: transparentize($color-black, .825);
$calendar-filter-arrow-border: transparentize($color-black, .8);
$calendar-dragging-highlight: $color-guardsman-red;
$calendar-appointment-background: $color-boston-blue;
$calendar-past-appointment-background: lighten($color-boston-blue, 20%);
$calendar-appointment-cancelled-background: $color-medium-carmine;
$calendar-past-appointment-cancelled-background: lighten($color-medium-carmine, 20%);
$calendar-appointment-moved-background: $color-green;
$calendar-holiday-anchor-visited: $color-white;
$calendar-holiday-background: $color-alto;
$calendar-schedule-background: $color-xanadu;
$calendar-bookable-slot-background: $color-madang;
$calendar-loading-view-background: transparentize($color-white, .2);

$guider-row-height: 120px;

.fc {
  a:visited {
    color: $color-black;
  }
}

.fc-view-container {
  position: relative;

  &.error {
    border: 1px solid $state-danger-text;
  }
}

.calendar-loading {
  align-items: center;
  background: $calendar-loading-view-background;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.holiday-calendar {
  margin-top: 1em;

  .fc-event {
    &:visited {
      color: $calendar-holiday-anchor-visited;
    }
  }
}

.company-calendar {
  .fc-resource-cell {
    height: $guider-row-height;
    white-space: nowrap;
    position: relative;

    div {
      bottom: 0;
      box-sizing: border-box;
      font-size: .9em;
      left: 50%;
      line-height: 1em;
      margin-left: -.5em;
      padding-left: 5px;
      position: absolute;
      text-align: left;
      transform-origin: .5em .5em;
      transform: rotate(-90deg);
      width: $guider-row-height;
    }
  }

  th {
    border-width: 0;
    overflow: hidden;
  }

  .active {
    background-color: $calendar-dragging-highlight;
    color: $color-white;
  }

  .fc-slats table {
    font-size: 8px;
  }

  .fc-time {
    position: relative;

    span {
      background: $color-white;
      box-sizing: border-box;
      font-size: 1.5em;
      height: 6em;
      left: 0;
      padding: 0 5px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .fc-axis {
    width: 35px !important; // scss-lint:disable ImportantRule

    &:empty {
      border-style: none !important; // scss-lint:disable ImportantRule
    }
  }

  .fc-highlight {
    background: $calendar-holiday-background;
    opacity: 1;
  }
}

.company-calendar--fullscreen {
  margin-top: 10px;
}

.container--fullscreen {
  width: 100%;
}

.calendar-row-highlighter {
  display: none;
  pointer-events: none;
  z-index: 1;

  &.active {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: $calendar-dragging-highlight;
  }
}

.calendar-row-highlighter-time {
  background: $calendar-dragging-highlight;
  color: $color-white;
  display: none;
  pointer-events: none;
  position: absolute;
  line-height: 1;
  padding: .5em;
  z-index: 2;

  &.active {
    display: inline-block;
  }
}

.fc-unthemed {
  td.fc-today { // scss-lint:disable QualifyingElement
    background: $calendar-today-background;
  }

  .close {
    font-size: 18px;
    height: auto;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 2;
  }
}

.appointment-availability-calendar {
  min-height: 500px;

  .fc-left h2 {
    @media (max-width: $screen-xs-max) {
      font-size: 120%;
    }
  }

  .fc-right {
    margin-top: 16px;

    button {
      @media (max-width: $screen-xs-max) {
        margin-bottom: 16px;
      }
    }
  }

  .fc-toolbar > * > * { // scss-lint:disable SelectorDepth
    @media (max-width: $screen-xs-max) {
      margin-left: 0;
      margin-right: .75em;
    }
  }
}

.fc-button-group--jump-to-date {
  position: relative;
}

.jump-to-date {
  border: 0;
  width: 0;
  height: 0;
  position: absolute;
  right: 50%;
  top: 50%;
  background: transparent;
}

.fc-event {
  @include striped($calendar-appointment-background);
  z-index: 3;
}

.fc--past {
  @include striped($calendar-past-appointment-background);
  border-color: $calendar-past-appointment-background;
}

.fc-event--moved {
  @include striped($calendar-appointment-moved-background);
}

.fc-event--cancelled {
  @include striped($calendar-appointment-cancelled-background);
  border-color: $calendar-appointment-cancelled-background;

  &:hover td {
    @include striped($calendar-appointment-cancelled-background);
  }

  &.fc--past {
    @include striped($calendar-past-appointment-cancelled-background);
    border-color: $calendar-past-appointment-cancelled-background;

    &:hover td {
      @include striped($calendar-past-appointment-cancelled-background);
    }
  }
}

.fc-day-grid,
.fc-time-grid,
.fc-time-area {
  .fc-event--holiday,
  .fc-bgevent--holiday {
    background: $calendar-holiday-background;
    z-index: 1;
  }

  .fc-event--bookable-slot {
    background: $calendar-schedule-background;
  }

  .fc-bgevent--bookable-slot {
    background: $calendar-bookable-slot-background;
    z-index: 2;
  }
}

.fc-bgevent {
  opacity: 1;
}

.resource-calendar-filter {
  background: $color-white;
  border-radius: 4px;
  border: 1px solid $color-silver;
  box-shadow: 0 6px 12px $calendar-filter-box-shadow;
  margin-bottom: 10px;
  padding: 1em;
  position: absolute;
  z-index: 100;
  width: 600px;

  &::before,
  &::after {
    border-bottom-color: $calendar-filter-arrow-border;
    content: "";
    display: inline-block;
    position: absolute;
  }

  &::before {
    left: 160px;
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid $color-silver;
  }

  &::after {
    left: 161px;
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $color-white;
    border-left: 6px solid transparent;
  }
}

// scss-lint:disable ImportantRule
.select2-container,
.select2-search__field {
  width: 100% !important;
}
// scss-lint:enable ImportantRule
