$guider-schedule-read-only-window-color: transparentize($color-givry, .2);
$guider-schedules-read-only-color: $color-roman;
$guider-schedules-editable-color: $color-feijoa;
$guider-schedules-read-only-border-color: $color-silver;

@function schedule-repeating-gradient($background) {
  @return $background repeating-linear-gradient(
    -45deg,
    $background,
    $background 10px,
    transparentize($color-white, .8) 10px,
    transparentize($color-white, .8) 20px
  );
}

.guider-schedules {
  margin-top: 1em;
  overflow: hidden;

  .js & {
    min-height: 100px;
  }
}

.guider-schedules__months {
  overflow: hidden;
}

.guider-schedules__month {
  border-right: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;

  &:first-child {
    border-left: 1px solid $table-border-color;
  }
}

.guider-schedules__readonly-window {
  position: absolute;
  background: $guider-schedule-read-only-window-color;
  border: 1px dashed $guider-schedules-read-only-border-color;
}

.guider-schedules__schedules-outer {
  position: relative;
}

.guider-schedules__schedule {
  height: 25px;
  margin-top: 5px;
}

.guider-schedules__schedule--readonly {
  background: schedule-repeating-gradient($guider-schedules-read-only-color);
}

.guider-schedules__schedule--editable {
  background: schedule-repeating-gradient($guider-schedules-editable-color);
}

.guider-schedules-swatch {
  display: none;

  .js & {
    display: inline-block;
    margin-right: 5px;

    &:before {
      content: "";
      display: inline-block;
      height: 25px;
      margin-right: 5px;
      width: 25px;
      vertical-align: middle;
    }
  }
}

.guider-schedules-swatch--readonly-window {
  &:before {
    background: $guider-schedule-read-only-window-color;
    border: 1px dashed $guider-schedules-read-only-border-color;
  }
}

.guider-schedules-swatch--readonly {
  &:before {
    background: schedule-repeating-gradient($guider-schedules-read-only-color);
  }
}

.guider-schedules-swatch--editable {
  &:before {
    background: schedule-repeating-gradient($guider-schedules-editable-color);
  }
}
