$guider-schedules-bookable-window-color: transparentize($color-givry, .2);
$guider-schedules-bookable-window-border-color: $color-silver;
$guider-schedules-bookable-color: $color-feijoa;

@function schedule-repeating-gradient($background) {
  @return $background repeating-linear-gradient(
    -45deg,
    $background,
    $background 10px,
    transparentize($color-white, .8) 10px,
    transparentize($color-white, .8) 20px
  );
}

@mixin bookable-window-style {
  background: $guider-schedules-bookable-window-color;
  border: 1px dashed $guider-schedules-bookable-window-border-color;
}

@mixin schedule-style {
  background: schedule-repeating-gradient($guider-schedules-bookable-color);
}

.guider-schedules {
  margin-top: 1em;
  overflow: hidden;

  .js & {
    min-height: 100px;
  }
}

.guider-schedules__months {
  overflow: hidden;
}

.guider-schedules__month {
  border-right: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;

  &:first-child {
    border-left: 1px solid $table-border-color;
  }
}

.guider-schedules__bookable-window {
  @include bookable-window-style;
  position: absolute;
}

.guider-schedules__schedules-outer {
  position: relative;
}

.guider-schedules__schedule {
  @include schedule-style;
  height: 25px;
  margin-top: 5px;
}

.guider-schedules-swatch {
  display: none;

  &::before {
    @include schedule-style;
  }

  .js & {
    display: inline-block;
    margin-right: 5px;

    &::before {
      content: "";
      display: inline-block;
      height: 25px;
      margin-right: 5px;
      width: 25px;
      vertical-align: middle;
    }
  }
}

.guider-schedules-swatch--bookable-window {
  &::before {
    @include bookable-window-style;
  }
}
