.table .sort {
  .js & {
    background: transparent;
    border: 0;
    color: $brand-primary;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.select-all {
  display: none;

  .js & {
    display: inline;
  }
}
