<h2 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  About MoneyHelper
</h2>

<%= p do %>
  <a href="https://www.moneyhelper.org.uk/">MoneyHelper</a> is backed by government and provides free, impartial guidance on your money and pensions. We’re here to help you make your own informed decisions, based on your circumstances.
<% end %>

<%= p do %>
  We’re not regulated or authorised by the Financial Conduct Authority (FCA), so cannot:
<% end %>

<ul style="color: #0B0C0C;font-family: Calibri, Arial, sans-serif;margin-top: 15px;margin-bottom: 15px;font-size: 16px;line-height: 1.315789474;">
  <li>give legal or regulated financial advice</li>
  <li>recommend specific financial products</li>
  <li>tell you what the best option is for you.</li>
</ul>

<%= p do %>
  For personalised money and pensions advice, you’ll usually need to pay for advice. See our guides about <a href="https://www.moneyhelper.org.uk/en/getting-help-and-advice/financial-advisers">Financial advice</a> for more information.
<% end %>

<%= p do %>
  MoneyHelper collects and stores personal data for the purpose of delivering
  pensions guidance. For full details and your rights, see our <a href="https://www.moneyhelper.org.uk/privacy">privacy policy</a>.
  You can also write to Money and Pensions Service, Pension Wise (MoneyHelper),
  Borough Hall, 138 Cauldwell Street, Bedford, MK42 9AB.
<% end %>
