<h2 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  We’re moving to MoneyHelper
</h2>

<%= p do %>
  The Pension Wise service will soon be part of MoneyHelper, the easy way to get free help for your money and pensions.
<% end %>
