<% content_for(:page_title, t('service.title', page_title: 'You cannot view this appointment')) %>

<div class="alert alert-warning t-permissions" role="alert">
  <p>
    You do not have the required permissions or organisational membership to
    view this appointment.
  </p>
</div>
