<% content_for(:page_title, t('service.title', page_title: 'You cannot view this appointment')) %>

<div class="alert alert-warning t-permissions" role="alert">
  <p>
  The appointment may have been <%= link_to 'rescheduled online', online_reschedulings_path %> away from your organisation or you do not have the required permissions to view.
  </p>
</div>
