<div class="calendar">
  <div data-module="AppointmentAvailabilityCalendar" data-events=".slots-data"></div>
  <input type="hidden" name="available-slots-json" class="slots-data" value="<%= @available_slots_json %>">
  <input type="text" name="selected_start" data-selected-start>
  <input type="text" name="selected_end" data-selected-end>
</div>
