<% content_for(:activity_message, flush: true) do %>
  <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
  <strong>The system</strong> sent a <%= printed_confirmation_activity.message %> letter
<% end %>
<%= render 'activities/activity', activity: printed_confirmation_activity, details: details, hide: hide %>
