<% content_for(:activity_message, flush: true) do %>
  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
  <strong>The system</strong> processed the appointment for print confirmation
<% end %>
<%= render 'activities/activity', activity: print_batch_activity, details: details, hide: hide %>
