<% content_for(:activity_message, flush: true) do %>
  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
  <strong>The system</strong> <%= sms_failure_activity.message %>
<% end %>
<%= render 'activities/activity', activity: sms_failure_activity, details: details, hide: hide %>
