<% content_for(:activity_message, flush: true) do %>
  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
  <strong>The system</strong>
  sent an appointment confirmation SMS to
  <strong><%= sms_confirmation_activity.appointment.canonical_sms_number %></strong>
<% end %>
<%= render 'activities/activity', activity: sms_confirmation_activity, details: details, hide: hide %>
