<%= breadcrumb( { title: 'My activity' } ) %>

<h1>My activity</h1>

<div class="row t-activity-feed">
  <div class="col-md-12 border-bottom">
    <div class="activity-feed activity-feed--with-links">
      <div class="list-group" data-module="activity-feed" data-config='{"event": "guider_activity_<%= current_user.id %>"}'>
        <%= render(@activities, details: true, hide: false) %>
      </div>
    </div>
    <% if @activities.empty? %>
      <div class="panel panel-default">
        <div class="panel-body t-no-activity">
          You have no activity
        </div>
      </div>
    <% end %>
  </div>
</div>

