<ol class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a></li>
  <li class="active">My activity</li>
</ol>

<h1>My activity</h1>

<div class="row t-activity-feed">
  <div class="col-md-12 border-bottom">

    <div class="activity-feed">
      <ul class="list-group hide" data-module="activities" data-config='{"event": "guider_activity_<%= current_user.id %>"}'>
        <%= render(@activities) %>
      </ul>
    </div>
  </div>
</div>
